# pre-setup-iran
deb http://a.docker-registry.ir/ubuntu/ xenial main restricted universe multiverse
deb-src http://a.docker-registry.ir/ubuntu/ xenial main restricted  universe multiverse
deb http://a.docker-registry.ir/ubuntu/ xenial-updates main restricted universe multiverse
deb-src http://a.docker-registry.ir/ubuntu/ xenial-updates main restricted universe multiverse
deb http://a.docker-registry.ir/ubuntu/ xenial-backports main restricted universe multiverse
deb-src http://a.docker-registry.ir/ubuntu/ xenial-backports main restricted universe multiverse
deb http://a.docker-registry.ir/ubuntu/ xenial-security main restricted universe multiverse
deb-src http://a.docker-registry.ir/ubuntu/ xenial-security main restricted universe multiverse